body{
    font-family: Helvetica;
    color: #424748;
}
body > nav {
    grid-area: nav;
    background-color: #ddbea9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
  }
  nav > img {
    width: 34px;
    object-fit: contain;
    margin-right: auto;
  }
  nav > a {
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: #424748;
  }
  nav > a:hover:not(.active) {
    color: #b7b7a4;
    background-color: #cb997e;
  }
  
  nav > a.active {
    color: #6b705C;
    cursor: default;
  }
  
.header {
    display: flex;
    justify-content: space-evenly;
  }
  .container {
    margin: 20px
}
  .date {
    justify-content: space-evenly;
    text-align: right;
    border: 3px solid transparent;
    height: 100px;
    padding: 10px;
    border-radius: 15%;
  }
  #dates {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 100%;
  }
  .day {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 0;
  }
  .today {
    border: 3px solid red;
    border-radius: 15%;
    text-align: right;
    padding: 10px;
  }
  .today:hover {
    border: 3px solid purple;
  }
  .date:hover{
    border:3px solid purple;
  }
  .currentMonth {
    font-size: 40px;
  }
  h1 {
    text-align: center;
    margin: 20px;
  }
  .badge {
    background-color: #B8C0C2;
    padding: .5rem;
    margin: 1rem;
    border-radius: .3rem;
    font-size: .8rem;
    text-align: center;
  }
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
  }
  
  .login img {
    height: 30px;
  }
  .habitBtn {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .habitBtn:active {
    background-color: red;
    color: green;
  }
  .habitBtn:focus {
    background-color: red;
    color: green;
  }