body{
    font-family: Helvetica;
    color: #424748;
}
.header {
    display: flex;
    justify-content: space-evenly;
  }
  .container {
    width: 80%;
    height: 80%;
    
  }
  .date {
    justify-content: space-evenly;
    text-align: right;
    border: 3px solid transparent;
    height: 100px;
    padding: 10px;
  }
  #dates {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 100%;
  }
  .day {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 0;
  }
  .date:hover{
    border:3px solid purple;
  }